/** Desktop view styles */
div.desktop-nav {
    display: flex;
    flex-direction: column;
    top: 0px;
    height: 100vh;
    width: 90px;
    background-color: #3182c2;
}

div.desktop-nav.left-fixed {
    position: fixed;
    left: 0px;
}

div.desktop-nav a.nav-brand {
    padding: 1rem;
    height: 60px;
}

div.desktop-nav div.nav-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

div.desktop-nav div.nav-container.justify-end {
    justify-content: flex-end
}

div.nav-container a.nav-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    color: white;
    font-size: 12px;
}

div.nav-container a.nav-item:hover {
    background-color: rgba(49, 102, 150, 0.3);
}

div.nav-container a.nav-item.active {
    background-color: #2a6da9
}

div.nav-container a.nav-item .desktop-nav-icon {
    font-size: 20px;
    padding-bottom: 5px;
}

/** Mobile view styles */
.mobile-nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    display: none;
    background-color: #3182c2;
}

.mobile-nav .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.mobile-nav .nav-header .header-icon {
    width: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon.left-hidden {
    visibility: hidden;
}

.mobile-nav .mobile-tab-container {
    width: 100vw;
    background-color: #3182c2;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px 6px rgba(0, 0, 0, 0.23)
}

.mobile-nav .mobile-tab-container a.option {
    font-size: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.5);
}

.mobile-nav .mobile-tab-container a.option:hover {
    background-color: rgba(49, 102, 150, 0.3);
}

.mobile-nav .mobile-tab-container a.option.active {
    color: white;
}

.mobile-nav .mobile-tab-container a.option .tab-icon {
    font-size: 20px;
    padding-bottom: 5px;
}

/** Wrapper */
.navbar-fixed-wrapper {
    padding-top: 0px;
    padding-left: 90px;
    min-height: 100vh;
}

/** Brand Icon style */
.brand {
    background: url(https://easyship-staging.herokuapp.com/images/brand-logo.svg) no-repeat center;
    height: 100%;
}

.brand.mobile {
    width: 25px;
}

/** Media Queries to handle UI for mobile and desktop */
@media screen and (max-width: 768px) {
    div.desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .navbar-fixed-wrapper {
        padding-left: 0px;
        padding-top: 40px;
    }
}